@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EFF3F3;
  /* color: #666E99; */
}

code {
  font-family: 'Roboto Mono', monospace;
}

th,
td {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #fff;
  margin-right: 5px;
  border-radius: 6px;
  margin-bottom: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
}

table {
  border-spacing: 0;
  color: #000;
}

th p {
margin: 0;
}

th.task-text{
  line-height: 2.5;
}

th p:first-child {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.task-text {
  width: 780px;
  /* line-height: 3; */
}

.task-text input {
  height: 48px;
  border: 0;
  width: 100%;
  background: transparent;
  color: #000;
  padding-left: 10px;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.task-text input:focus {
  outline: 1px solid #5C5A6D;
}

.task-text input:hover {
  cursor: pointer;
}

.status {
  width: 50px;
  height: 50px;
}

select:hover{
  cursor: pointer;
}

.status-new {
  background: url(img/new.svg);
}

.status-progress {
  background: url(img/progress.svg);
}

.status-done {
  background: url(img/done.svg);
}

.status-cancel {
  background: url(img/cancel.svg);
}

.status-next {
  background: url(img/next.svg);
}

.status-prev {
  background: url(img/prev.svg);
}

select {
  width: 50px;
  border: none;
  height: 50px;
  appearance: none;
  background-color: transparent;
  color: transparent;
  outline: none;
}
select::-ms-expand {	display: none; }

select option {
  color: black;
  font-family: 'Roboto Mono', monospace;
  border: none;
  outline: none;
}

.container {
  display: flex;
  min-height: 100%;
  flex: 1;
}

.help {
  display: flex;
  flex-direction: column;
  background: #222336;
  /* width: fit-content; */
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 20px 20px 20px;
  padding-bottom: 1em;
}

.help .title {
  font-weight: 500;
    font-size: 1.15em;
}

.help .item {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.help .item img{
  width: 25px;
  height: 25px;
}

.help .item p{
margin: 0 10px;
}

header {
  height: 10vh;
  background: #1D1934;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 30px;
}

header h2 {
  color: rgba(255, 245, 104, 0.7);
  font-size: 20px;
  font-weight: normal;
  margin-right: 20px;
}

header div:last-child {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  align-items: center;
}

.DayPicker .DayPicker-Day {
  border-radius: 0%
}

.DayPicker .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #3E4161;
  color: #666E99;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.DayPicker .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #3E4161;
}

.DayPicker .DayPicker-Weekday, 
.DayPicker .DayPicker-WeekNumber {
  color:#3E4161
}

.DayPicker .DayPicker-WeekNumber {
  border-right: 1px solid#3E4161
}

.DayPicker .DayPicker-Day:focus {
  outline: 1px solid #3E4161
}


.DayPicker {
  background: #222336;
  margin: 20px;
}

.DayPicker:focus,
.DayPicker .DayPicker-WeekNumber:focus,
.DayPicker .DayPicker-Months:focus, 
.DayPicker .DayPicker-wrapper:focus,
.DayPicker .DayPicker-NavButton:focus{
  outline: none;
}

.add-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:rgba(0, 181, 81, 1);
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  line-height: 1;
}
.add-btn:hover{
  cursor: pointer;
  background-color:rgba(0, 181, 81, 0.9);
}
.add-btn:focus{
  outline: none;
  background-color:rgba(0, 181, 81, 0.7);
}

aside {
  width: 60px;
  background: #5C5A6D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside div span{
  margin: 10px;
}

aside div span:hover{
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.9);
}

aside div span:hover{
  cursor: pointer;
}

aside div span[aria-disabled]{
  cursor: unset;
  filter: contrast(0.1);
}

main {
  margin: 0 auto;
  overflow-y: scroll;
  height: 85vh;
  margin-top: 20px;
}